[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "python ./borrowers/manage.py runserver"
makemigrations = "python ./borrowers/manage.py makemigrations library"
migrate = "python ./borrowers/manage.py migrate"
test = "python ./borrowers/manage.py test borrowers"
testlib = "python ./borrowers/manage.py test library"
testusers = "python ./borrowers/manage.py test users"
initcov = "coverage run --source='.' ./borrowers/manage.py test borrowers"
viewcov = "coverage report"